  body {
    font-family: "Montserrat";
  }    
  html, 
  body, 
  #background { 
  width: 98vw;
  min-height: 100vh;
  background-color: rgba(253, 246, 184, 0.781);
  }



.my-class1 {
    color: rgb(0, 0, 0); 
    text-align: center;

}


.my-class2 {
    
    background-color:rgb(255, 235, 145);
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    border: 4px solid rgb(0, 0, 0);
    text-align: center;
}

.flex-container {
    display: flex;
    align-items: center;
    width: 95%;
   
}

.flex-child1 {
    flex: 1;
    border: 4px solid rgb(0, 0, 0);
    background-color:rgb(255, 235, 145);
    text-align: center;
    margin-right: 40mm;
    text-transform: uppercase;
    margin-top: -46mm;       
}

.flex-child2 {
    flex: 1;
    border: 4px solid rgb(0, 0, 0);
    background-color:rgb(255, 235, 145);
    text-align: center;
    margin-left: 100mm;
       
}

.flex-child:first-child {
    margin-right: 40mm;
    background-color:rgb(255, 235, 145);
} 


footer {
    border-color: black;
    font-family: "Montserrat";
    font-size: 20px;
    text-align: center;
}


